.catalog {
  display: flex;
  justify-content: space-between;
  align-items: start;

  &__header {
    display: flex;
    justify-content: space-between;

    &__block {
      display: flex;
      align-items: center;
      gap: 12px;

      &-sort {
        width: 134px;
      }
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &-title {
      margin-bottom: 16px;
    }

    &__block {
      height: 82px;
      width: 300px;

      &__title {
        font-size: 0.95rem;
        padding: 8px 4px;
      }

      &-years {
        display: flex;
        justify-content: center;
      }

      &-status {
        width: 300px;
      }

      &-score {
        width: 300px;
      }

      &-raiting {
        margin-bottom: 12px;
      }

      &__button {
        width: 300px;
      }

    }

    &__field {
      width: 300px;
      height: 56px;
    }
  }

  &__filter > :nth-last-child(2) {
    margin-bottom: 12px;
  }

  &__filter > :nth-child(1) {
    margin-bottom: 4px;
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82px;
  }
}
