@import '../../../styles/variables/colors.scss';

.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__left_side {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__right_side {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__user {
    display: flex;
    align-items: column;
    gap: 12px;

    &__avatar {
      height: 54px;
      width: 54px;
      border: 2px solid $primary-color;
      border-radius: 50%;
    }
  }

  &__search {
    width: 360px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
