.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;

  &__block {
    &__title-new-relised {
      font-size: 1.7rem;
      padding-bottom: 12px;
    }

    &__title-best-ongoings {
      font-size: 1.7rem;
      position: relative;
      left: 18px;
    }
  }

  &__carousel {
    width: 1040px;
    padding: 10px 4px;
    position: relative;

    &__wrapper {
      width: 1064px;
      height: 342px;
    }

    &__slide {
      display: flex;
      gap: 26px;
    }

    &__back {
      position: absolute;
      left: -70px;
      top: -30px;
    }

    &__forward {
      position: absolute;
      left: 70px;
      top: -30px;
    }
  }

  &__promo {
    width: 1040px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__line {
      color: #e91e63;
      margin: 12px 0;
    }
  }

  &__welcome {
    &__line {
      color: #e91e63;
      margin: 12px 0;
    }

    &__title {
      text-align: center;
    }
  }
}
