@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/normalize.scss';
@import '../../../styles/mixins/responsive.scss';

.home__block {
  &__title_relise_calendar {
    font-size: 1.7rem;
    padding-bottom: 12px;
  }
}

.releases__wrapper {
  width: 100%;
}

.release {
  &__title {
    color: $primary-color;
  }

  &__table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;

    @include onPhone {
      flex-direction: column;
      align-items: start;
      justify-content: start;
      width: 100%;
      padding-top: 16px;
      border-bottom: 2px solid $primary-color;
    }

    &__image {
      border-radius: 12%;
    }

    &__left_side {
      display: flex;
      align-items: center;
      gap: 24px;

      @include onPhone {
        gap: 10px;
      }
    }

    &__right_side {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include onPhone {
        width: 100%;
      }
    }

    &__time {
      font-size: 0.9rem;
      color: $text-placeholder;
    }
  }

  &__table:last-child {
    padding-bottom: 0;

    @include onPhone {
      border-bottom: none;
    }
  }

  &__table:first-child {
    @include onPhone {
      padding-top: 0;
    }
  }
}
