@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/normalize.scss';

.home__block {
  &__title_relise_calendar {
    font-size: 1.7rem;
    padding-bottom: 12px;
  }
}

.releases__wrapper {
  width: 1040px;
}

.release {
  &__title {
    color: $primary-color;
  }

  &__table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;

    &__image {
      border-radius: 12%;
    }

    &__left_side {
      display: flex;
      align-items: center;
      gap: 24px
    }

    &__right_side {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__time {
      font-size: 0.9rem;
      color: $text-placeholder;
    }
  }

  &__table:last-child {
    padding-bottom: 0;
  }
}