@import '../../styles/mixins/responsive.scss';
@import '../../styles/variables/colors.scss';

.footer {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  position: absolute;
  bottom: 0;
  width: 100%;

  @include onPhone {
    z-index: 55;
  }
}

.main {
  background-color: #111;
  padding-bottom: 32px;
  padding-bottom: 160px;
}

.wrap {
  position: relative;
  min-height: 100vh;
}
