.footer {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.main {
  background-color: #111;
  padding-bottom: 32px;
}

.header {
  background-color: #000;
  position: relative;
  min-height: 72px;
  display: grid;
  align-items: center;
  margin-bottom: 24px;
}
