@import '../../../styles/variables/colors.scss';

.anime {
  &__info {
    display: flex;
    align-items: start;
    padding: 16px;
    gap: 30px;

    &__left {
      max-width: 225px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;

      &__image {
        border-radius: 10px;
      }
    }

    &__similar {
      position: absolute;
      top: 72px;
      left: 0;
      right: 0;
      bottom: -120px;
      z-index: 40;
      width: 100%;
      height: 100%;
      background-color: rgba(#000000, 70%);
      display: flex;
      justify-content: center;

      &__content {
        padding: 40px 20px;
        width: fit-content;
        height: fit-content;
        background-color: rgba(#000000, 100%);
        border-radius: 16px;
        display: grid;
        grid-template-columns: 192px 192px 192px 192px 192px;
        grid-auto-rows: 332px;
        column-gap: 20px;
        row-gap: 26px;
        align-items: start;
        justify-content: center;
        justify-items: stretch;
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 0 20px 20px 20px;

      &__title_eng {
        color: $text-secondary;
        margin-bottom: 26px;
      }

      &__description {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: start;

        &__item {
          display: flex;
          justify-content: space-between;

          &__title {
            color: $text-placeholder;
            width: 240px;
          }

          &__value_imp {
            color: $primary-color;
          }
        }
      }
    }

    &__score {
      font-size: 1.4rem;
      border-radius: 10px;
      border: 1px solid $primary-color;
      padding: 6px 10px;
    }
  }
}
