.card__catalog-grid {
  display: grid;
  grid-template-columns: 192px 192px 192px 192px;
  column-gap: 20px;
  row-gap: 26px;
  align-items: start;
  justify-content: start;
  justify-items: stretch;
}