.catalog {
  &__header {
    &__block {
      display: flex;
      align-items: center;
      gap: 12px;
      @media (max-width: 1200px) {
        justify-content: center;
        margin-top: 12px;
      };

      &__title {
        @media (max-width: 1200px) {
          display: none;
        };
      }

      &_sort {
        width: 134px;

        @media (max-width: 1200px) {
          width: 300px;
        };
      }
    }
  }
}
