@import '../../styles/mixins/responsive.scss';
@import '../../styles/variables/colors.scss';

.header {
  background-color: #000;
  position: relative;
  min-height: 72px;
  display: grid;
  align-items: center;
  margin-bottom: 24px;

  @include onTablet {
    min-height: 62px;
    max-height: 62px;
  }

  @include onPhone {
    min-height: 32px;
    max-height: 54px;
  }
}
