@import 'colors.scss';

html {
  background-color: $background-color;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: $text-primary;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
