@import '../../../styles/variables/colors.scss';
@import '../../../styles/mixins/responsive.scss';

.search {
  transition-duration: 0.4s;

  &__box {
    width: 100%;
    border-radius: 0 0 6px 6px;
    background-color: #000;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: $primary-color;
    position: absolute;
    top: 52px;
    z-index: 999;
    flex-direction: column;
    display: flex;

    @include onTablet {
      top: 37px;
      background-color: #000;
    }

    @include onSmallTablet {
      background-color: $background-color;
    }

    @include onPhone {
      top: 45px;
      background-color: $background-color;
    }

    &__line {
      margin: 4px 0 8px 0;
      width: 80%;
      color: $primary-color;
      height: 2px;
      position: absolute;
      left: 10%;

      @include onPhone {
        display: none;
      }
    }

    &__list {
      display: flex;
      gap: 12px;
      flex-direction: column;
      padding: 12px;

      &__item {
        display: flex;
        padding: 4px 2px 2px 2px;
        gap: 12px;
        align-items: start;

        &__image {
          border-radius: 4px;
        }

        &__text {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
    }
  }
}
