@import '../../styles/variables/colors.scss';
@import '../../styles/mixins/responsive.scss';

.footer {
  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
    justify-content: space-between;
  }

  &__links {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include onPhone {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-content: center;
      row-gap: 20px;
      column-gap: 16px;
    }

    &__item {
      color: aliceblue;
      text-decoration: none;
      background-color: rgba(#fff, 0);
      border: 0;
      border-bottom: 1px #e91e626d solid;
      font-size: medium;
      padding: 4px;
      transition: all 0.2s;
      cursor: pointer;

      @include onPhone {
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 0;
      }
    }

    &__item:hover {
      border-bottom: 1px $primary-color solid;
    }
  }

  &__copyright {
    color: rgb(148, 148, 148);
    position: absolute;
    bottom: -32px;
    right: 4px;

    @include onPhone {
      display: none;
    }
  }
}

.contacts {
  position: absolute;
  top: -120px;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  padding: 20px;
  z-index: 11;
  gap: 6px;

  @include onPhone {
    font-size: 0.9rem;
    flex-direction: column;
    gap: 16px;
    top: -170px;
  }

  &__under {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
  }

  &__item {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;

    &:not(:last-child)::after {
      content: '|';
      color: $primary-color;

      @include onPhone {
        display: none;
      }
    }

    &__icon {
      height: 26px;

      &_22 {
        height: 22px;
      }
    }
  }
}
