@import '../../styles/mixins/responsive.scss';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;

  @include onPhone {
    gap: 0px;
  }
}
