@import '../../../styles/variables/colors.scss';
@import '../../../styles/mixins/responsive.scss';

.promo {
  width: 1040px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (max-width: 1064px) {
    width: 852px;
  }

  @media (max-width: 840px) {
    width: 640px;
  }

  @include onPhone {
    width: 470px;
  }

  @media (max-width: 460px) {
    width: 312px;
  }

  &__line {
    color: $primary-color;
    margin: 12px 0;
  }
}