.home__block {
  &__title_best_ongoings {
    font-size: 1.7rem;
    position: relative;
    left: 18px;
    margin-bottom: 12px;
  }
}

.home__carousel {
  width: 1040px;
  padding: 10px 4px;
  position: relative;

  &__wrapper {
    width: 1064px;
    height: 354px;
  }

  &__slide {
    display: flex;
    gap: 26px;
  }

  &__back {
    position: absolute;
    left: -70px;
    top: -30px;
  }

  &__forward {
    position: absolute;
    left: 70px;
    top: -30px;
  }
}