
.swiperAnimes {
  grid-column: 1/-1;
  position: static;
  padding: 8px 12px;
  min-width: 1054px;
  display: flex;
  height: 354px;
  gap: 24px;
}

.swiper-slide {
  width: fit-content;
}

.swiper-slide-blank {
  display: none;
}
